<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.Name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.Address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.Phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @restaurant.Website %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
